<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <img src = "/img/image1.jpeg" class="protrait">
        </div>
        {{>footer}}
    </body>
</html>